.breadcrumbs {
    position: relative;
    margin: 0 0 50px;
    text-transform: uppercase;
}
h2 em {
    font-style: normal;
    font-weight: 300;
}
.site {
	overflow: hidden;
}
.breadcrumbs__title {
    border-color: #d28881;
}
.breadcrumbs__items {
    float: left;
}
.breadcrumbs__wrap {
    float: left;
    //margin: 0;
}
.breadcrumbs__item {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5;
    font-family: Montserrat,sans-serif;
    letter-spacing: 0px;
}
.breadcrumbs__item {
    float: left;
}
.breadcrumbs__item-sep {
    color: #181a1f;
}
.breadcrumbs__item-sep {
    margin: 0 .4em;
}
.breadcrumbs__item-target {
    color: #d28881;
}
.tm_pb_column_1 {
    padding-bottom: 100px;
}
.tm_pb_image_0 {
    text-align: center;
}
.tm_pb_animation_off {
    opacity: 1;
}
.tm_pb_image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    line-height: 0;
}
.tm_pb_module img {
    max-width: 100%;
    margin: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px;
    background: none;
    border-radius: 0px;
}
.tm_pb_image img {
    width: inherit;
}


hr.tm_pb_module {
    background-color: transparent;
    background-image: none;
    margin: 0px;
    padding: 0px;
}
.tm_pb_text_2 {
    background-color: #eaeaea;
    padding-top: 43px!important;
    padding-right: 60px!important;
    padding-bottom: 33px!important;
    padding-left: 60px!important;
}
.tm_pb_text_1 {
    background-color: #eaeaea;
    padding-top: 43px!important;
    padding-right: 60px!important;
    padding-bottom: 33px!important;
    padding-left: 60px!important;
}

.tm_pb_text {
    overflow: hidden;
}
.tm_pb_text_align_left {
    text-align: left;
}
.tm_pb_divider_2 {
    margin-bottom: 100px!important;
    //height: 1px;
}
hr.tm_pb_module {
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 0;
}
.tm_pb_divider_2:before {
    border-top-width: 1px;
    border-top-color: #e9e9e9;
    border-top-style: solid;
    width: 100%;
    margin-left: -50%;
}
.tm_pb_testimonial_0 .tm_pb_testimonial_portrait {
    width: 168px;
    height: 168px;
}
.tm_pb_testimonial .tm_pb_testimonial_portrait {
    display: block;
    float: none;
    margin: 13px auto 26px;
}
.tm_pb_testimonial_portrait {
    border-radius: 90px;
    float: left;
    position: relative;
    display: table-cell;
    width: 90px;
    height: 90px;
    margin-right: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 .tm_pb_testimonial_description {
    display: table-cell;
}
.tm_pb_testimonial_description .tm_pb_testimonial_description_inner {
    width: auto!important;
}
.tm_pb_testimonial .tm_pb_testimonial_description .tm_pb_testimonial_quote_icon {
    color: #181a1f;
}
.tm_pb_testimonial .tm_pb_testimonial_description .tm_pb_testimonial_quote_icon {
    margin-bottom: 17px;
}
.tm_pb_text_align_center {
    text-align: center;
    margin: auto;
}
.tm_pb_testimonial .tm_pb_testimonial_description p {
    margin-bottom: 0;
    margin-top: 0.8em;
}
 .tm_pb_section_3 {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 50px;
}
.tm_pb_testimonial .tm_pb_testimonial_description .tm_pb_testimonial_quote_icon:before {
    content: attr(data-icon);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 36px;
}
.tm_pb_circle_counter_0 {
    width: 230px;
}
.tm_pb_circle_counter {
    margin: 0 auto 30px;
    position: relative;
    text-align: center;
}
.tm_pb_circle_counter {
    word-wrap: break-word;
}
.tm_pb_circle_counter .percent {
    visibility: hidden;
}
.tm_pb_circle_counter .percent {
    position: relative;
    z-index: 2;
}
.tm_pb_circle_counter_0.tm_pb_circle_counter .percent p {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #d28881!important;
}
.tm_pb_circle_counter .percent p {
    margin-bottom: 0;
}
.tm_pb_circle_counter .percent p{
	position: relative;
    line-height: 0.1em;
    padding: 49% 0;
}
.tm_pb_circle_counter canvas {
    position: absolute;
    top: 0;
    left: 0;
	border:5px solid #d28881;
	border-radius: 50%;
}

.tm_pb_divider_3 {
    margin-top: 55px!important;
    margin-bottom: 100px!important;
    height: 1px;
}
.tm_pb_circle_counter_1 {
    width: 230px;
}
.tm_pb_circle_counter_2 {
    width: 230px;
}
.tm_pb_circle_counter_3 {
    width: 230px;
}
.tm_pb_circle_counter .percent p {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #d28881!important;
}
.tm_pb_circle_counter h3 {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #181a1f!important;
    line-height: 1.4em;
}

@media only screen and (max-width: 1440px) and (min-width: 61.9em){
	.tm_pb_divider_3 {
		height: 1px;
	}
	.tm_pb_divider_2 {
		height: 1px;
	}
	.tm_pb_divider_0:before {
    border-top-width: 1px;
	}
}
.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0 {
    height: 1px;
}
}