.breadcrumbs {
    position: relative;
    margin: 0 0 50px;
    text-transform: uppercase;
}
.breadcrumbs__title {
    border-color: #d28881;
}
.breadcrumbs__items {
    float: left;
}
.breadcrumbs__wrap {
    float: left;
    //margin: 0;
}
.breadcrumbs__item {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5;
    font-family: Montserrat,sans-serif;
    letter-spacing: 0px;
}
.breadcrumbs__item {
    float: left;
}
.breadcrumbs__item-sep {
    color: #181a1f;
}
.breadcrumbs__item-sep {
    margin: 0 .4em;
}
.breadcrumbs__item-target {
    color: #d28881;
}
.portfolio .thumbnail {
    position: relative;
}

.portfolio .thumbnail:hover {
    cursor: pointer;
}

.portfolio .caption {
    bottom: 0;
    position: absolute;
}

.portfolio .btn {
    opacity: 0.75;
}
img{
	width:200px;
	height:200px;
}
