#modal-discount-service div#discount-money{
    line-height: 40px;
}
.btn-change-value{
    height: 40px;
    cursor: pointer;
    width: 64px;
}
.input-discount-group{
    margin: 10px;
    text-align: center;
}
.input-discount-group span{
    margin: 0 auto;
    display: inline-block;
}
.input-discount-group span input{
    width: 350px;
    margin: 0 10px;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;   
}
.ck-table .ser-pro-price{
    font-size: 12px;
}
/*#modal-discount-service #ser-dis-price{
    width: 100%;
}*/
.btn-discount-option{
    height: 40px;
    margin: 10px 10%;
    text-align: center;
}
.btn-discount-option button{
    margin: 0 auto;
    display: inline-block;
}
#modal-discount-service #ser-ori-price, #modal-discount-service #ser-pro-price {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}
input {
    height: 40px;
    border-bottom-color: #b3b3b3;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #b3b3b3;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #b3b3b3;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #b3b3b3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
}
.content-right {
    height: 100%;
    background-color: #FFFFFF;
    width: 85%;
    float: left;
}

.content-right-main {
    height: -moz-calc(100% - 157px); /* Firefox */
    height: -webkit-calc(100% - 157px); /* Chrome, Safari */
    height: calc(100% - 157px); /* IE9+ and future browsers */
}

.main-left .main-title, .main-center .main-title {
    border-right: solid 2px #FFFFFF;
}

.main-title {
    height: 48px;
    background-color: #5F4B7D;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 48px;
    /*margin-bottom: 8px;*/
    width: 100%;
}

.main-title .title-order {
    float: left;
    width: 46%;
    border-right: 1px solid #FFFFFF;
}

.main-title .title-service {
    border-right: 1px solid #FFFFFF;
    float: left;
    width: 35%;
}

.main-title .title-employee {
    float: left;
    width: 18%;
}

.main-right {
    height: -moz-calc(100% + 40px); /* Firefox */
    height: -webkit-calc(100% + 40px); /* Chrome, Safari */
    height: calc(100% + 40px); /* IE9+ and future browsers */
    width: 19%;
    float: left;

}

.main-right-content {
    background-color: #eceaed;
    border-radius: 4px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    height: 100%;
    margin-top: 8px;
}

.main-right-content input {
    width: 100%;
    margin-bottom: 10px;
}

.cnt-employee {
    height: -moz-calc(100% - 50px); /* Firefox */
    height: -webkit-calc(100% - 50px); /* Chrome, Safari */
    height: calc(100% - 50px); /* IE9+ and future browsers */
    overflow-y: scroll;
}

.employee {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 16px;
}

.content-right-header {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    height: 56px;
    width: 100%;
}

.content-right-header-customer {
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    height: 100%;
}

.content-right-header-customer div {
    float: left;
    margin-right: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    height: 100%;
}

.content-right-header-customer span {
    font-weight: normal;
}

.content-right-header-customer .cus-name {
    margin-left: 10px;
    background: #FFFFFF url(../../../imagesource/icon/ico_checkout_customer_name.png) no-repeat left;
    padding-left: 24px;
   color: #FFFFFF;
}
.content-right-header-customer .cus-phone {
    background: #FFFFFF url(../../../imagesource/icon/ico_checkout_customer_phone.png) no-repeat left;
    padding-left: 24px;
    color: #FFFFFF;
}
.content-right-header-customer .cus-point {
    background: #FFFFFF url(../../../imagesource/icon/ico_checkout_customer_point.png) no-repeat left;
    padding-left: 24px;
    color: #FFFFFF;
}
.content-right-header-customer  span
{
    color: #424242;
}
.content-right-header-button {
    width: 50%;
    float: left;
}

.content-right-header-button button {

    height: 48px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 48px;
    float: right;
    border-radius: 4px;
    width: 17%;
    text-indent: -9999px;
    border: none;
}
.content-right-header-button>div
{
    line-height: 56px;
    text-align: right;
    height: 48px;
}
.content-right-header-button>div div
{
    display: inline;
}
.content-right-header-button .btn-note {
    background: #01b5d6 url(../../../imagesource/icon/ico_take_note.png) no-repeat center;
    border-left: 1px solid #FFFFFF;

}

.content-right-header-button .btn-edit {
    background: #a6cf42 url(../../../imagesource/icon/ico_edit_order.png) no-repeat center;

}
.content-right-header-button .btn-lookup-customer {
    background: #01b5d6 url(../../../imagesource/icon/ico_checkout_search.png) no-repeat center;
}
.content-right-header-button .btn-QR {
    background: #a6cf42 url(../../../imagesource/icon/ico_checkout_qr.png) no-repeat center;
}
.content-right-header-button .btn-addnew-customer {
    background: #a6cf42 url(../../../imagesource/icon/ico_checkout_add_customer.png) no-repeat center;
}
.clear {
    clear: both;
}

/*Left content*/
.content-left {
    height: 100%;
    float: left;
    width: 15%;
    background-color: #eceaed;

}

.content-left .title {
    color: #5f4b7d;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    height: 48px;
    line-height: 48px;
}

.content-left .button-add-order {
    width: 89%;
    height: 48px;
    background-color: #FFC000;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    margin-bottom: 16px;
    background-image: url(../../../imagesource/icon/ico_checkout_add_order.png);
    background-position: center;
    background-repeat: no-repeat;
}

.content-left .cnt-order {
    /*88*/
    height: -moz-calc(100% - 108px);
    height: -webkit-calc(100% - 108px);
    height: calc(100% - 108px);
    overflow-y: scroll;

}

.content-left .cnt-order .order {
    width: 89%;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    /*//margin: 0 auto;*/
    border-radius: 4px;
    background-color: #FFFFFF;
    margin-bottom: 16px;
    float: left;
}

.content-left .cnt-order .order .name {
    text-align: center;
    padding-top: 5px;
}

.content-left .cnt-order .order .info {
    padding-left: 5px;
}

/*Main center*/
.main-center {
    height: -moz-calc(100% + 40px); /* Firefox */
    height: -webkit-calc(100% + 40px); /* Chrome, Safari */
    height: calc(100% + 40px); /* IE9+ and future browsers */
    width: 35%;
    float: left;
}

.main-center .main-center-content {
    background-color: #eceaed;
    border-radius: 4px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 8px;
    height: 100%;
    margin-top: 8px;
}

.main-center .main-center-content input {
    width: 100%;
    margin-bottom: 10px;
}

.main-center .main-center-content .cnt-service {

    height: -moz-calc(100% - 50px); /* Firefox */
    height: -webkit-calc(100% - 50px); /* Chrome, Safari */
    height: calc(100% - 50px); /* IE9+ and future browsers */
    overflow-y: scroll;
}

.cnt-service .category {
    clear: both;
    height: 40px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    line-height: 40px;
    margin-bottom: 10px;
    background-position: 97%;
    background-color: #FFFFFF;
    background-image: url(../../../imagesource/icon/ico_cate_down.png);
    background-repeat: no-repeat;
}

.cnt-service .service,.cnt-service .combo, .cnt-service .ser-package{
    float: left;
    width: 46%;
    height: 110px;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 10px;
    display: none;
    position: relative;
}
/*.cnt-service .service p*/
/*{*/
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*left: 20px;*/
/*}*/
.cnt-service .service div, .cnt-service .combo div, .cnt-service .ser-package div
{
    display: flex;
    display: -webkit-flex; /* NEW - Chrome */
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.cnt-service .service div:first-child, .cnt-service .combo div:first-child,.cnt-service .ser-package div:first-child
{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
}
.cnt-service .service div:last-child, .cnt-service .combo div:last-child,.cnt-service .ser-package div:last-child
{
    width: 100%;
    height: 30px;
}
/*Main left*/
.main-left {
    height: -moz-calc(100% + 40px);
    height: -webkit-calc(100% + 40px);
    height: calc(100% + 40px);
    width: 46%;
    float: left;
    position: relative;

}

/*.main-left .main-left-content {*/
    /*margin-top: 8px;*/
    /*height: -moz-calc(100% - 118px) !important;*/
    /*height: -webkit-calc(100% - 118px) !important;*/
    /*height: calc(100% - 118px) !important;*/
    /*border-left: 1px solid #d3d3d3;*/
    /*border-top: 1px solid #d3d3d3;*/
    /*border-right: 1px solid #d3d3d3;*/
    /*-moz-border-radius-topleft: 4px;*/
    /*-moz-border-radius-topright: 4px;*/

/*}*/

.main-left .ck-table {
    /*height: 55%;*/
    height: -moz-calc(100% - 280px);
    height: -webkit-calc(100% - 280px);
    height: calc(100% - 280px);
    width: 100%;
}

.main-left .ck-table table {
    width: 100%;
    display: block;
    height: 100%;
}

.main-left .ck-table table tbody {
    height: -moz-calc(100% - 28px) !important;
    height: -webkit-calc(100% - 28px) !important;
    height: calc(100% - 28px) !important;
    width: 100%;
    display: block;
    overflow-y: scroll;

}

.main-left .ck-table table tbody tr {
    height: 40px;
    width: 100%;
}
.main-left .ck-table table tbody td {
    vertical-align: middle;
    text-align: left;
}
.main-left .ck-table table thead th {
    text-align: left;
}

.main-left .ck-table table tr {
    border-bottom: 1px solid #e0e0e0;
}

.main-left .ck-table > .ser-name {

    width: 40%;
}

.main-left .ck-table > .ser-cusname {

    width: 40%;
}

.main-left .ck-table .ser-price-content {
    width: 18%;
    text-align: right;
}
.main-left .ck-table .ser-price{
    /*cursor: pointer;*/
   color: #333;
}
.main-left .ck-table .ser-delete {
    text-align: center;
    /*width: 13%;*/
}
.main-left .ck-table table td, .main-left .ck-table table thead tr th {
    padding: 4px 8px;
}

.main-left .ck-calculate{
    /*height: 29%;*/
    height: 170px;
    border-top: 1px solid #e0e0e0;
}

.main-left .ck-calculate .ck-row, #div-edit-service .ck-row{
    width: 100%;
    /*height: 25%;*/
    line-height: 35px;
    height: 35px;
    clear: both;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    margin-bottom: 10px !important;
}

.main-left .ck-calculate .ck-row:last-child {
    margin-top: 25px;
    font-size: 20px;
    color: #e91e63;
}

.main-left .ck-calculate .ck-row div, #div-edit-service .ck-row div{
    float: left;
    width: 50%;
}

.main-left .ck-calculate .ck-row div:first-child, #div-edit-service .ck-row div:first-child{
    text-align: left;
    width: 40%;
}

.main-left .ck-calculate .ck-row div:last-child, #div-edit-service .ck-row div:last-child{
    width: 10%;
    /*width: 60px;*/
    text-align: right;

}
@media (max-width: 1366px) {
    .btn-tips.btn-general.btn-eezz {
        align-items: center;
        display: flex;
        text-align: center;
        font-size: 90%;
        padding: 0;
    }
}


.main-left .ck-calculate .ck-row div input, #div-edit-service .ck-row div input{
    width: 130px;
}
.ck-button-group {
    border-top: 1px solid #e0e0e0;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    height: 118px;

}
.ck-button-group .group-payment {
    height: 56px;
    border-bottom: 1px solid #FFFFFF;
    padding-top: 4px;
}

.ck-button-group .group-payment .btn-payment {
    height: 90%;
    width: 23%;
    margin-left: 1.6%;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #a6cf42;
    background-image: url(../../../imagesource/icon/ico_payment.png);
    background-position: 8% 50%;
    background-repeat: no-repeat;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    color: #FFFFFF;
    line-height: 100%;
    float: left;
    border-radius: 4px;

}
.payment-content
{
    padding-left: 4px;
}
.ck-button-group .group-handle {
    height: 56px;
    clear: both;
}
.ck-button-group .group-handle div {
    height: 48px;
    float: left;
    width: 23%;
    background-color: #01b5d6;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 0.8%;
    margin-right: 0.8%;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-top:4px;
    cursor: pointer;
}
.btn-payment
{
    cursor: pointer;
}
.ck-button-group .group-handle .btn-save-temp {
    background-image: url(../../../imagesource/icon/ico_hold_order.png);
    background-position: 8% 50%;
    background-repeat: no-repeat;
    border-right: 1px solid #FFFFFF;
    padding-left: 10%;
    height: 90%;
    margin-left: 1.6%;
}
.ck-button-group .group-handle .btn-delete {
    background-image: url(../../../imagesource/icon/ico_trash.png);
    background-position: 8% 50%;
    background-repeat: no-repeat;
    border-right: 1px solid #FFFFFF;
    padding-left: 10%;
    height: 90%;
}
.ck-button-group .group-handle .btn-print {
    background-image: url(../../../imagesource/icon/ico_print.png);
    background-position: 8% 50%;
    background-repeat: no-repeat;
    border-right: 1px solid #FFFFFF;
    padding-left: 10%;
    height: 90%;
}

.ck-button-group .group-handle .btn-finish {
    background-image: url(../../../imagesource/icon/ico_finish.png);
    background-position: 8% 50%;
    background-repeat: no-repeat;
    padding-left: 10%;
    height: 90%;
}

.btn-general {
    color: #5f4b7d;
    border-radius: 4px;
    background-color: #ffc000;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: absolute;
    left: 88%;
}


.selected {
    border: 2px solid #ffc000;

}

.employee:hover, .service:hover, .order:hover, .category:hover, .combo, .ser-package {
    cursor: pointer;
}

.print-header {
    height: 70px;
    margin-top: 10px;
    text-align: center;
}

/*.print-info {*/
    /*margin-bottom: 30px;*/
/*}*/

/*.print-info div {*/
    /*float: left;*/
    /*width: 50%;*/

/*}*/

/*.print-info div:last-child {*/
    /*text-align: right;*/
/*}*/
.print-info {
  /*margin-bottom: 20px;*/
    /*margin-top: 15px;*/
}

.print-info div {
    /*float: left;*/
    width: 100%;

}
.print-info div div
{
    width: 35%;
    float: left;
}
.print-info div div:last-child
{
    width: 65%;
    text-align: right;
}
.print-info div span:last-child {
    text-align: right;
}
#tb-print tr {
    border: 1px solid #e0e0e0;
    border-left: none;
    border-right: none;
}

#tb-print thead th, .print-body table tbody td {
    text-align: left;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}

#tb-print thead th:last-child, #tb-print tbody td:last-child {
    text-align: right;
    padding-right: 0;
}

#tb-print thead th:first-child, #tb-print tbody td:first-child {
    padding-left: 0;
}

#print-modal .modal-body {
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 4px;
}

.print-money .print-money-item {
    clear: both;
}

.print-money .print-money-item div {
    width: 50%;
    float: left;
}

.print-money .print-money-item div:last-child {
    text-align: right;
}

.print-money .print-money-item:last-child div:last-child {
    text-align: left;
}

/*.print-body*/
/*{*/
/*height: 160px;*/
/*overflow-y: scroll;*/
/*}*/
/*#tb-print thead tr*/
/*{*/
/*width: 84%;*/
/*position: fixed;*/
/*background-color: #FFFFFF;*/
/*}*/
#tb-print {
    width: 100%;

}

.print-btn-group {
    text-align: center;
    width: 100%;


}

.print-btn-group button {
    background: transparent;
    /*float: left;*/
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.print-btn-group button:first-child
{
    /*margin-left: 28%;*/
}

#print-modal hr {
    width: 100%;
}

/*.print-btn-group button:first-child {*/
/*margin-right: 60px;*/
/*}*/

.content-left {
    position: relative;

}

.ck-expand {
    position: absolute;
    top: 50%;
    right: 1%;
    cursor: pointer;
    background-image: url(../../../imagesource/icon/ico_draw_right.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 12px;
}

.header-employee .group-menu > a
{
    height: 48px;
    float: left;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 48px;
    cursor: pointer;
    text-decoration: none;
    min-width: 100px;
}
.header-employee .group-menu a
{
    height: 48px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 48px;
    cursor: pointer;
    text-decoration: none;
    min-width: 48px;
}
.page-manager-header{
	width: auto;
	margin: 10px auto 0;
	text-align: center;
	color: #413150;
	font-size: 26px;
	font-weight: 700;
}
.header-employee .group-menu > div
{
    height: 48px;
    float: left;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 48px;
    cursor: pointer;
    text-decoration: none;
    min-width: 100px;
}
 .group-menu
{
    width: 95%;
    float: left;
}
.logo
{
    margin-left: 0px !important;
    width: 48px;
    height: 48px;
    background-image: url('../../../imagesource/icon/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffc000;
}
.mnu-manage-tour
{
    margin-left: 10px;

}
.mnu-log-out
{
    line-height: 48px !important;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    /*text-align: right;*/
    margin-right: 10px;
    cursor: pointer;
}
.menu-selected
{
    color: #ffc000 !important;
    border-bottom: 4px solid #ffc000;
}
.menu-selected > div > a
{
    color: #ffc000 !important;    
}
.ck-expand-bottom {
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../imagesource/icon/ico_order_expand.png');
    background-color: #FFFFFF;
}

.currency-content {
    display: block;
    overflow-y: scroll;
    height: 250px !important;
    width: 100%;
}

.currency-content .currency-item div {
    float: left;
}

.currency-content .currency-item:first-child {
    border-top: 1px solid #e0e0e0;
}

.currency-content .currency-item {
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
}

.currency-content .currency-item .currency-name {
    width: 90%;
    padding-left: 20px;
    line-height: 40px;
}

#currency_modal .modal-body {
    height: 79% !important;
}

.currency-header div {
    float: left;
}

.currency-header {
    padding: 20px;
    height: 80px;
}

.currency-header input {
    width: 400px;
    margin-right: 10px;
}

.currency-check a {
    margin-top: 7px;
}

.btn-search-cur {
    background-image: url(../../../imagesource/icon/check-out-search.png);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    border: none;
    background-size: 100%;
    border-radius: 4px;
}

.print-hide {
    display: none;
}

.print-btn-group {
    height: 40px;
    line-height: 40px;
}

#btn-open-currency {

    color: #ffc000;
    border:none;
    background-color: transparent;
    height: 40px;
    margin-top: 0;
    font-weight: 500;
    text-align: right;
    font-size: 16px;
    float: right;
}

/*.print-btn-cancel, .print-btn-print {*/
    /*margin-right: 5%;*/
/*}*/

@page {
    size: auto;   /* auto is the current printer page size */
    margin: 0mm;  /* this affects the margin in the printer settings */
    margin-left: 2mm;
    font-weight: 500;
    color:#000000;
}

#android-print {
    color: #424242;
}
#tbl-cus-order-history tbody tr{
    cursor: pointer;
}
/*#print-payment*/
 /*{*/
    /*width: 50%;*/
    /*margin-left: -30px;*/
 /*}*/
#print-payment .print-pttt
{
    width: -moz-calc(100% + 30px); /* Firefox */
    width: -webkit-calc(100% + 30px); /* Chrome, Safari */
    width: calc(100% + 30px); /* IE9+ and future browsers */
}
.print-hide-row
{
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}
.print-hide-row-item
{
    width: 100%;
}
.print-hide-row-item>div
{
    float: left;
}
/*.print-hide-row-item .stt*/
/*{*/
    /*width: 5%;*/
/*}*/
.print-hide-row-item .print-sername
{
    width: 60%;
}
.print-hide-row-item .print-serprice
{
    text-align: right;
    width: 40%;
}
.print-employee
{
    clear: both;
}
.print-employee div
{
   float:left;
}
.print-employee>div:first-child
{
    width: 20%;
    text-align: right;
    padding-right: 20px;
}
.print-employee div:last-child
{
    width: 80%;
}
.print-employee div:last-child div, .print-hide-title
{
    width: 100%;
}
.print-hide-title div
 {
     float:left;
 }
/*.print-hide-title div:first-child*/
/*{*/
    /*width: 5%;*/
/*}*/
.print-hide-title div:last-child
{
    width: 40%;
    text-align: right;
}
.print-hide-title div:first-child
{
    width: 60%;
}
#msgShow.modal{
    z-index: 9999 !important;
}
.txt-search-ser, .txt-search-emp, #lookup-cus
{
    padding-left: 30px;
    background: #FFFFFF url(../../../imagesource/icon/ico_search_service_employee.png) no-repeat left;
    background-position: 5px;
}
#lookup-cus
{
    width: 100%;
}
.cus-content
{
    height: 300px;
    overflow-y: scroll;
    clear: both;
}
.cus-content .cus-item,.cus-item-title
{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
    line-height: 40px;

}
.cus-content .cus-item div, .cus-item-title div
{
    float: left;
}
.cus-item-title div
{
    color: #5f4b7d;
    font-weight: 500;
    font-size: 16px;
}
.cus-content .cus-item div:first-child, .cus-item-title div:first-child
{
    width: 65%;
}
.cus-content .cus-item div:nth-child(2), .cus-item-title div:nth-child(2)
{
    width: 25%;
}
.cus-content .cus-item div:last-child, .cus-item-title div:last-child
{
    width: 10%;
}

.btn-vnd, .btn-vnd-on-ser
{
    font-size: 0%;
    background-position: center;
    background-size: 100% !important;
    background-repeat: no-repeat;
    background-image: url(../../../imagesource/icon/btn_checkout_vnd.png);
    background-color: transparent;
}
#ck-ord-name
{
    background: transparent;
    border: none;
    width: 90%;
    text-align: center;

}
#btn-edit-order-name
{
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(../../../imagesource/icon/ico_checkout_edit_order_name.png);
    font-size: 0%;
    width: 24px;
    height: 30px;
    margin-top: 0;

}
.title-service
{
    text-align: left;
}

.title-service>input
{
    width: 55%; float: left;
    text-align: right;
}
.title-service>div {
    width: 30%;
    float: right;
    text-align: right;
    padding-right: 20px;
}
#modal-salary-setting i{
    color: white;
}
.title-fixed-money{
    float:left;
    margin: 10px 20px;
    width: -moz-calc(50% - 40px); /* Firefox */
    width: -webkit-calc(50% - 40px); /* Chrome, Safari */
    width: calc(50% - 40px); /* IE9+ and future browsers */ 
}
.input-salary-limit{    
    margin: 10px 20px;
    float:left;    
    width: -moz-calc(50% - 40px); /* Firefox */
    width: -webkit-calc(50% - 40px); /* Chrome, Safari */
    width: calc(50% - 40px); /* IE9+ and future browsers */ 
}
.input-salary-limit input{
    width: 82% !important;
    margin-top: -10px;;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    float:right;
}
.input-salary-limit span{
    width: -moz-calc(18% - 10px); /* Firefox */
    width: -webkit-calc(18% - 10px); /* Chrome, Safari */
    width: calc(18% - 10px); /* IE9+ and future browsers */ 
}
#modal-salary-setting > .modal-dialog{
    width: 40% !important;   
    max-width: 600px;
    margin: 5% auto !important;
    min-width: 300px;
}
.not-available{
    opacity: 0.5;
    cursor: not-allowed !important;
}
.content-setting-action{
    height: 42px;
}
.not-available input,.not-available .btn{
    cursor: not-allowed !important;
}
#modal-add-reward-punish .form-control,#modal-add-reward-punish textarea{
    width: 100% !important;
    max-width: 100% !important;
    /*margin-left: -10px;*/
}
.btn-radio-eezz{
    border-radius: 50% !important;
    height: 25px;
    padding-left: 3px;
    padding-top: 3px;
    width: 25px;
}
.body-title{
    background: #e0e0e0;
    clear: both;
    height: 36px;
    width: 100%;
    padding-left: 20px;
    padding-top: 8px;
    font-size: 16px;
    color:#828282;
}
#modal-salary-setting .modal-body{
    padding: 0;
}
.title-salary-payment{
    float:left;
    margin: 10px 20px;
    width: -moz-calc(80% - 40px); /* Firefox */
    width: -webkit-calc(80% - 40px); /* Chrome, Safari */
    width: calc(80% - 40px); /* IE9+ and future browsers */ 
}
.check-salary-payment{
    float:left;
    margin: 10px 20px;
    width: -moz-calc(20% - 40px); /* Firefox */
    width: -webkit-calc(20% - 40px); /* Chrome, Safari */
    width: calc(20% - 40px); /* IE9+ and future browsers */
}
.check-salary-payment a{
    float:right;
}
.tip-row
{
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.tip-row-title
{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #efedf2;
    color: #604A7B;
    font-size: 18px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
}
.tip-row-title input
{
    margin-right: 20px;
}
.tip-row div
{
    float: left;
    width: 70%;
}
.tip-row input
{
    width: 100px;
    float: right;
    margin-top: 5px;
    padding-left: 10px;
    line-height: 40px;
}
#ck-tbl-tips
{
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    display: block;
}
#ck-tbl-tips th
{
    text-align: left;
}
#ck-tbl-tips tr
{
    height: 50px;
    vertical-align: middle;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 5px;
    padding-top: 5px;
}
#ck-tbl-tips tbody tr:last-child
{
    border: none;
}
.is-disabled {
    /*opacity: 0.5;*/
    pointer-events: none;
    color: #bebebe;
}
.is-disabled input
{
    visibility: hidden;
}
.tip-tb-head
{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #e3e3e3;
}
.tip-tb-head div
{
    float: left;
}
.tip-tb-head div:first-child,#ck-tbl-tips td:first-child
{
    width: 10%;
    vertical-align: middle;

}
.tip-tb-head div:nth-child(2),.tip-tb-head div:nth-child(3),#ck-tbl-tips td:nth-child(2),#ck-tbl-tips td:nth-child(3)
 {
     width: 35%;
    vertical-align: middle;

 }
.tip-tb-head div:nth-child(4),#ck-tbl-tips td:nth-child(4)
{
    width:20%;
    vertical-align: middle;

}
.emp-tip-money
{
    visibility: hidden;
    width: 90%;
    padding-left: 10px;
    height: 40px;
}

/* COMMON RADIO AND CHECKBOX STYLES  */
.tip-row-title input[type=radio]{
    /* Hide original inputs */
    visibility: hidden;
    position: absolute;
}
.tip-row-title input[type=radio] + label:before{
    height:24px;
    width:24px;
    margin-right: 20px;
    content: " ";
    display:inline-block;
    vertical-align: baseline;
    background-image: url(../../../imagesource/icon/radio_uncheck.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle;
}
.tip-row-title input[type=radio]:checked + label:before{
    background-image: url(../../../imagesource/icon/radio_check.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
.tip-row-title input[type=radio] + label:before{
    border-radius:50%;
}

#div-edit-service
{
    padding-top: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}

#div-edit-service .grp-button
{
    clear: both;
    text-align: center;
    height: 40px;
    width: 100%;
    margin-top: 20px;
}
#div-edit-service .grp-button button
{
    width: 166px;
    height: 40px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
}
#div-edit-service .grp-button #btn-cancel-edit-ser
{
    background-color: #c9436e;
    margin-right: 12px;
}
#div-edit-service .grp-button #btn-ok-edit-ser
{
    background-color: #01b5d6;
    margin-left: 12px;
}
#div-edit-service .div-content-combo{
    width: 100%;
    line-height: 35px;
    height: 35px;
    clear: both;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    margin-bottom: 10px !important;
}
#div-edit-service .div-content-combo div
{
    float: left;
}
#div-edit-service .div-content-combo div:first-child
{
    width: 60%;
    text-align: left;
}
#div-edit-service .div-content-combo div:last-child
{
    width: 40%;
}

.clearable{
    background: #fff url(../../../imagesource/icon/checkout/ico_checkout_clear_text.png) no-repeat right -15px center;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */

#tb-list-reward
{
    width: 100%;
    display: block;
}
#tb-list-reward tbody tr td:first-child
{
    width: 10%;
}
#tb-list-reward tbody tr td:nth-child(2)
{
    width: 50%;
}
#tb-list-reward tbody tr td:nth-child(3)
{
    width: 15%;
}
#tb-list-reward tbody tr td:last-child
{
    width: 25%;
}
.reward-selected, .row-selected
{
    background-color: #fff8df !important;
}
#btn-buy-more-gift
{
    background-color: #fdb409;
    border-radius: 4px;
    border: none;
    height: 40px;
    margin: 10px 0;
}
#reward-modal .modal-content
{
    width: 598px;
}

#tb-list-gift tbody tr,#tb-list-reward tbody tr,#tb-confirm-buy-reward tbody tr
{
    height: 50px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    width: 598px;
}
#tb-list-gift tbody tr td, #tb-list-reward tbody tr td, #tb-confirm-buy-reward tbody tr td
{
    vertical-align: middle;
}
#tb-list-gift tbody tr td:first-child
{
    padding: 10px;
    width: 300px;
}
#tb-list-gift tbody tr td:nth-child(2)
{
    width: 120px;
}
#tb-list-gift tbody tr td:last-child
{
    width: 160px;
}

#tb-list-gift,#tb-list-reward,#tb-confirm-buy-reward{
    display: block;
    width: 598px;
    border-bottom: 1px solid #e0e0e0;
}
#tb-list-gift tbody,#tb-list-reward tbody,#tb-confirm-buy-reward tbody
{
    display: block;
    max-height: 300px;
    overflow-y: scroll;
    width: 594px;
}
#tb-list-gift thead tr, #tb-list-reward thead tr, #tb-confirm-buy-reward thead tr
{
    font-size: 16px;
    vertical-align: middle;
    height: 50px;
    border-bottom:  1px solid #e0e0e0;
}
#tb-list-reward thead tr th, #tb-confirm-buy-reward thead tr th
{
    text-align: left !important;
    padding-left: 10px;
}
#tb-list-reward tbody tr td:last-child, #tb-confirm-buy-reward tbody tr td:last-child
{
    width: 150px;
}
#tb-confirm-buy-reward tbody tr td:last-child
{
    text-align: center;
}
#tb-list-reward tbody tr td:first-child,#tb-confirm-buy-reward tbody tr td:first-child
{
    width: 50px;
    text-align: center;
}
#tb-list-reward tbody tr td:nth-child(2),#tb-confirm-buy-reward tbody tr td:nth-child(2)
{
    width: 300px;
    padding-right: 10px;
}
#tb-list-reward tbody tr td:nth-child(3),#tb-confirm-buy-reward tbody tr td:nth-child(3)
{
    width: 100px;
}
#tb-list-reward tbody tr td:nth-child(3) img,#tb-confirm-buy-reward tbody tr td:nth-child(3) img
{
    float: left;
    padding-left: 10px;
    margin-right: 5px;
}
.reward-choose-to-use
{
    padding-left: 5%;
}
.reward-choose-to-use div, .reward-choose-to-buy div
{
    float: left;
    height: 50px;
    line-height: 50px;
    margin: 0 5px;
}
.reward-choose-to-use div input, .reward-choose-to-buy div input
 {
     height: 40px;
     line-height: 40px;
     width: 40px;
     margin: 5px 0;
     text-align: center;
 }
.cate-combo.inactive
{
    color: #969696 !important;
    pointer-events: auto  !important;
    cursor: pointer !important;
}
div.inactive, div.inactive *
{
    background-color: #f5f5f5 !important;
    border-color: #969696 !important;
    color: #969696 !important;
    pointer-events: none !important;
    cursor: not-allowed !important;
}
div.inactive .button-add-order
{
    background-color: #c4c4c4 !important;
}
div.inactive button
{
    background-color: #e0e0e0 !important;
    pointer-events: none !important;
    cursor: not-allowed !important;
}
.ser-price-content s
{
    color: #b8b8b8;
    font-size: 14px;
}
.border-left-combo td:first-child
{
    /*border-left: 10px solid #15a6cd;*/
    background: linear-gradient(90deg, #15a6cd 5px, transparent 0%) no-repeat;
}
/*.border-left-combo .ser-cusname {*/

    /*width: 2% !important;*/
/*}*/
/*.border-left-combo.main .ser-name*/
/*{*/
    /*width: 80% !important;*/
/*}*/
.border-left-combo.main .ser-cusname
{
    width: 2% !important;
}
.border-left-combo.main .ser-price
{
    color:#5f4b7d;
}
#content-service-package > div:nth-child(2) {
    padding-left: 20% !important;
}

#content-service-package > div {
    width: 50% !important;
}

#content-service-package .decrease {
    width: 24px !important;
    margin-right: 10px;
}

#content-service-package input {
    width: 50px !important;
    text-align: center;
}

#content-service-package .increase {
    width: 24px !important;
    margin-left: 10px;
}

#content-service-package > div div:nth-child(2) {
    width: 50px !important;
}

/*.signal*/
/*{*/
/*/!*background-image: url('../../../imagesource/icon/checkout/ico_checkout_signal_gift.png');*!/*/
/*/!*background-color: #15a6cd;*!/*/
/*/!*background-repeat: no-repeat;*!/*/
/*border-left: 10px solid  #15a6cd;*/
/*/!*padding: 15px;*!/*/
/*-webkit-border-image: url('../../../imagesource/icon/checkout/ico_checkout_signal_gift.png') 30; /!* Safari 3.1-5 *!/*/
/*-o-border-image: url('../../../imagesource/icon/checkout/ico_checkout_signal_gift.png') 30; /!* Opera 11-12.1 *!/*/
/*border-image: url('../../../imagesource/icon/checkout/ico_checkout_signal_gift.png') 30;*/
/*}*/

.rew-pocket td:first-child
{
    padding-left: 20px !important;
    background-image: url('../../../imagesource/icon/checkout/ico_checkout_signal_gift.png');
    background-repeat: no-repeat;
}
.border-left-ser-package td:first-child {
    /*border-left: 10px solid #c9436e;*/
    background: linear-gradient(90deg, #c9436e 5px, transparent 0%);
}

/*.border-left-combo .ser-cusname {*/

/*width: 2% !important;*/
/*}*/
/*.border-left-ser-package.main .ser-name {*/
    /*width: 80% !important;;*/
/*}*/
.border-left-ser-package.main  .ser-cusname
{
    width: 2% !important;
}
.border-left-ser-package.main .ser-price
{
    color:#5f4b7d;
}
.ck-table table tr
{
    cursor: pointer;
}
.main
{
    /*font-weight: bold;*/
    font-size: larger;
    font-weight: 400;
}
.ck-table table .error
{
    border: 2px solid red !important;
}