/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2015, 9:06:10 AM
    Author     : dunglt1
*/
html{
    font-family: Arial !important;
}
.selectpicker{
    left: 0 !important;
    bottom: 0  !important;
    z-index: 0 !important;
}
.repcontent-main p+p{
    margin: 0 0 10px;
}
.btn-lock{
    background: #e61606 none repeat scroll 0 0;
    border: 2px solid #e61606;
    height: 30px;
    padding-top: 4px;
    width: 40px;
}
.btn-unlock {
    height: 30px;
    padding-top: 4px;
    width: 40px;
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #e61606;
    color: #e61606;
}
.btn-eezz-width-140{
    width: 140px !important; 
}
#tb-calendar tbody tr td{
    cursor: pointer;
}
#modalAddReward .modal-footer{
    margin-top: 10px !important;
}
#collapse-config-rew-more input{
    padding-left: 10px;
}
.eezz-modal-center{
    line-height: 40px;
    text-align: center;
}
#btn-rew-info-more i{
    color: gray;
    font-size: 26px;
    position: absolute;
    right: 20px;
    top: 5px;
}
#btn-rew-info-more{
    position: relative;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #e5e5e5;
    border-top: 1px #d5d5d5 solid;
    cursor: pointer;
}
#btn-rew-info-more-e i{
    color: gray;
    font-size: 26px;
    position: absolute;
    right: 20px;
    top: 5px;
}
#btn-rew-info-more-e{
    position: relative;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #e5e5e5;
    border-top: 1px #d5d5d5 solid;
    cursor: pointer;
}
#modalUpdateReward .form-group{
    margin-top: 10px !important;
}
#modalAddReward .form-group{
    margin-top: 10px !important;
}
#discount-reward-content{
    position: relative;
}
#discount-reward-content .btn-change-value{
    position: absolute;
    right: 15px;
    top:0;
}
#discount-reward-content input{
    width: -moz-calc(100% - 74px); /* Firefox */
    width: -webkit-calc(100% - 74px); /* Chrome, Safari */
    width: calc(100% - 74px); /* IE9+ and future browsers */ 
}
#modalAddReward .modal-body{
    margin-top: 10px;
    padding: 0;
}
#modalUpdateReward  .modal-footer {
    margin-top: 10px !important;
}
#modalUpdateReward .modal-body{
    margin-top: 10px;
    padding: 0;
}
.add-reward-title{
    text-align: right;
    padding: 0;
}
.form-group {
    margin-bottom: 0 !important;
}
#pickTypeReward .reward-type-common{    
    padding-left: 50px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px #d5d5d5 solid;
    cursor: pointer;
}
#pickTypeReward .modal-body{
    padding: 0;
}
#pickTypeReward .modal-footer{
    border: none;
}
.dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: inline;
    float: left;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
    width: 100%;
    white-space: nowrap;
}
.img_edit{
    cursor: pointer;
    float: left;
    height: 20px;
}
.td_edit ul{
    left:auto;
    right:0;
    padding-right: 35px;
}
.td_edit{
    position: relative;
    list-style: none;
    float: right;
}
thead.table-eezz-head th{
    padding: 10px !important;
    border: none !important;
    vertical-align: middle !important;
    height: 40px;
    color: #5f4b7d;
    background-color: #eceaed;
}
table[data-type="limit-offset"] tbody tr td{
    border: none !important;
}
.infor-combobox{
	height: 36px;
}
.infor-btn-float-right {
    font-weight: 500;
    height: 40px;
    padding: 5px 10px;
    background-color: #ffc000;
    color: #333;
    border: 0px;
}
thead.table-eezz-head{
	background-color: #D4D4D4;
}
.dropdown-menu.mnu-log-out{
    right: 100% !important;
    left: unset;   
}
.mnu-header-main .dropdown-menu > li > a{
    color:white;
}
.mnu-header-main .dropdown-menu > li > a:hover{
    color:#5f4b7d !important;
}
.header-sub-menu-item{
    position: relative;
    height: 48px;
}
.dropdown-menu{
    min-width: 170px !important;
}    
.dropdown-menu.sub-menu {
    top: 0;
    left: 100%;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.right-caret:after,.left-caret:after
 {	content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.right-caret:after
{	border-left: 5px solid #ffaf46;
}
.left-caret:after
{	border-right: 5px solid #ffaf46;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 4px 0 0 4px !important;
}
.show-record-content .dropdown-toggle{
    border-radius: 0 !important;
    border-left: none !important;
}
.gap-10-px{
    height: 10px;
    width: 100%;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: thin solid #d5d5d5 !important;
    border-radius: 5px !important;
    color: #442358;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    opacity: 0.5;
    background:#442358;
}
.dataTables_wrapper .dataTables_length {
    margin-left: 20px;
}
.dataTables_wrapper .dataTables_filter {
    margin-right: 20px;
}
.dataTables_info {
    margin-left: 20px;
}
.dataTables_paginate {
    margin-right: 20px;
}
.dataTables_wrapper input[type="search"] {
    border: thin solid #d5d5d5;
    border-radius: 5px;
/*    height: 30px;
    width: 300px;*/
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background: transparent none repeat scroll 0 0 !important;
    border: 1px solid transparent !important;
    box-shadow: none !important;
    cursor: default !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {   
    border: none !important;
    background: #442358 none repeat scroll 0 0 !important;
    color: #FFFFFF !important;
    border-radius: 5px;
}
.dataTables_wrapper {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    color: #656d78;
    font-family: "Arial";
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 0;
}
.table-not-generate{
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    color: #656d78;
    font-family: "Arial";
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 0;
    margin-top: 20px;
}
.table tbody tr.odd {
    background: #f5f4f6 none repeat scroll 0 0;
}
.table thead tr th{
    background: transparent;
    height: auto;
    color: #656d78;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.repcontent-main-header{
    padding-top: 10px;
}
.choose-status-content{
    float:left;
    margin-left: 10px;
    margin-right: 10px;
}
.page-size-area-content{
   float:left;
}
.table tbody tr td{
    vertical-align: middle;    
}
.table tbody tr td:nth-child(1){
   text-align: center;    
}
[data-type="hidden"]{
    display: none;
}
[data-action="action"]{
    display:none !important;
}
.fm-mon
{
    text-align: right;
}
.group-menu-right{
    float: right; 
    width:5%;
    height: 48px;
}
.group-menu-right img {
    float: right;
    height: 24px;
    margin: 12px;
    cursor: pointer;
}
#edit-profile {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    color: #656d78;
    padding: 20px;
}
#frm-update-avatar {
    margin-bottom: 26px;
    padding-left: 80px;
}
#edit-profile {
    color: #656d78;
}
.left-edit-profile img {
    border-radius: 20px;
    height: 180px;
    width: 180px;
}
.change-password {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #fcbf0f;
    border-radius: 5px;
    height: 30px;
    margin-left: 95px;
    margin-top: 10px;
    width: 150px;
}
.change-avatar {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #69408f;
    border-radius: 5px;
    height: 30px;
    margin-left: 15px;
    width: 150px;
}
.btn-edit-profile {
    background: #ffb10a none repeat scroll 0 0;
    color: #604a7b;
    height: 30px;
    padding-top: 3px;
    width: 150px;
}
.line-eezz {
    border-top: thin solid #e5e5e5;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 15px;
    padding: 20px 20px 0;
    text-align: right;
}
#change-avatar-profile {
    display: none;
}
.apply-change-avatar {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #fcbf0f;
    border-radius: 5px;
    display: none;
    height: 30px;
    margin-left: 15px;
    width: 150px;
}
#frm-edit-profile a{
    color: #604a7b;
}
.modal-footer button
{
    text-transform: uppercase;
    font-weight: 700;
}
.infor-btn-search {
    height: 40px;
    width: 40px;
}
.table-top-area{
    margin-bottom: 10px !important;
}