#revenue-text{
    margin: 0 10px;
    padding: 10px 0;
}

#revenue-text div{
    color: red;
}

#revenue-text #lable{
    font-weight: bold;
    margin: 4px 0;
}

#device-text #value{
    float: right;
}

#device-text #printbill{
    float: right;
}

#device-text #printbill .btn{
    background: #FFFF80;
    margin-bottom: 10px;
    margin-top: 10px;
}

#device-footer{
    float: left;
}

#device-footer .btn{
    float: left;
}

#device-bill-title{
    margin: 0 auto;
}

#device-bill-title div{
    text-align: center;
}

#title-bill #value{
    text-align: right;
}

