/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {font-family: "Six Caps";
    /*src: url("http://db.onlinewebfonts.com/t/e788d8c87cd314c2f79d9d8db10269b7.eot"); /* IE9*/
    /*src: url("http://db.onlinewebfonts.com/t/e788d8c87cd314c2f79d9d8db10269b7.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    /*url("http://db.onlinewebfonts.com/t/e788d8c87cd314c2f79d9d8db10269b7.woff2") format("woff2"), /* chrome firefox */
    /*url("http://db.onlinewebfonts.com/t/e788d8c87cd314c2f79d9d8db10269b7.woff") format("woff"), /* chrome firefox */
    /*url("http://db.onlinewebfonts.com/t/e788d8c87cd314c2f79d9d8db10269b7.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    /*url("http://db.onlinewebfonts.com/t/e788d8c87cd314c2f79d9d8db10269b7.svg#Six Caps") format("svg"); /* iOS 4.1- */
}